[Desktop Entry]
Type=Application
Name=Elysian Studio
GenericName=3D Printing Slicer
Comment=Elysian Studio (Rust rewrite)
Exec=elysian-studio
Icon=elysian-studio
Terminal=false
Categories=Graphics;3DGraphics;Engineering;
StartupWMClass=elysian-studio
Keywords=slicer;3D;printing;bambu;elysian;
